@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TODO MVC APP</h1>
    <p class="lead">Task Details: You need to create a TODO MVC web application. A user should be able to perform below actions. Create a new task. Update an existing task. Complete the task. Completed task should be removed from the list. A separate page should show the completed task.</p>
    
</div>

